[Unit]
Description=Configuration DB docker service
After=network.target

[Service]
User=root
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
# Start service at boot time
WantedBy=multi-user.target
